<ion-view view-title="Werkvorm">
  <ion-content class="padding">
    <h2>{{werkvorm.title}}</h2>
    <p>
      {{werkvorm.body | html}}
    </p>

    <div class="card padding">
      <h3>Praktijkvoorbeeld</h3>
      <p class="item item-text-wrap">
        {{werkvorm.extra.praktijkvoorbeeld}}
      </p>
    </div>

    <div class="card padding">
      <h3>Didactische opportuniteiten</h3>
      <p class="item item-text-wrap">
        {{werkvorm.extra.didopp}}
      </p>
    </div>
    
    <div class="list card">
      <div class="item item-divider"><b>Apps</b></div>
      <ion-item class="item item-icon-right" ng-repeat="app in werkvorm.extra.apps"
         href="#/tab/werkvormen/app/{{app.id}}">
        {{app.title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
