<ion-view view-title="Werkvormen" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item 
        class="item-remove-animate item-avatar item-icon-right item-text-wrap" 
        ng-repeat="werkvorm in werkvormen" 
        href="#/tab/werkvormen/{{werkvorm.id}}">
        <h2>{{werkvorm.title}}</h2>
        <!--
        <div>
          {{werkvorm.body}}
        </div>
        -->
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--
          enkel voor de test
        <ion-option-button class="button-assertive" ng-click="werkvorm.toon()">
          Info
        </ion-option-button>
          -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
